<div class="container-fluid mt-5">
<div class="row g-2">
 <div class="col-md-6 col-sm-6 col-lg-8 d-flex align-items-center justify-content-center">
    <div class="seats d-flex justify-content-center">
        <table style="width: 100%;">
            <input type="hidden" value="{{new_bus_data?.seatRate}}" class="ticket-Price">
            <thead class="mb-3">
                <tr class="align-center">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="d-flex align-items-center justify-content-center">
                        <img src="../../assets/Images/Weel.png" alt="" [width]="40">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A1" value="A1">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A1</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A2" value="A2">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A2</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A5" value="A3">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A3</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A4" value="A4" class="booked">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A4</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A5" value="A5">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A5</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A6" value="A6">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A6</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A7" value="A7">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A7</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A8" value="A8">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A8</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A9" value="A9">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A9</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A10" value="A10" class="booked">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A10</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A11" value="A11">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A11</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A12" value="A12">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A12</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A13" value="A13">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A13</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A14" value="A14">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A14</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A14" value="A14" class="booked">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A14</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A15" value="A15" class="booked">
                        <img src="../../assets/Images/Normal.png" alt="" >
                        <label for="">A15</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A16" value="A16">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A16</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A17" value="A17">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A17</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A18" value="A18" class="booked">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A18</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A19" value="A19" >
                        <img src="../../assets/Images/Normal.png" alt="" >
                        <label for="">A19</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A20" value="A20">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A20</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A21" value="A21">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A21</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A22" value="A22" >
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A22</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A23" value="A23" >
                        <img src="../../assets/Images/Normal.png" alt="" >
                        <label for="">A23</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A24" value="A24">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A24</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A25" value="A25">
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A25</label>
                        </div>
                    </td>
                    <td [width]="40"></td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A26" value="A26" >
                        <img src="../../assets/Images/Normal.png" alt="">
                        <label for="">A26</label>
                        </div>
                    </td>
                    <td>
                        <div class="seat">
                        <input type="checkbox" id="A27" value="A27" >
                        <img src="../../assets/Images/Normal.png" alt="" >
                        <label for="">A27</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Selected preview -->
<div class="col-sm-5 col-md-6 col-lg-4 p-sm-0  d-sm-block ms-sm-auto me-sm-auto sticky-md-top">
    
    <div class="seat-preview ps-3 pe-3 ">
       <div class="card">
        <div class="card-header text-center p-0 ">
            Seat Preview
            <div class="d-flex justify-content-between ps-2 pe-2">
                <h6>{{new_bus_data.root}}</h6>
                <h6>{{new_bus_data.Date}}</h6>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="me-2 text-center"><p class="pt-3 pb-3" *ngIf="Selected =='' ">Seats Not Selected</div>
            <ul class="list-group border-0 rounded-0" *ngFor="let Seats of Selected">
                <li class="list-group-item d-flex align-items-center justify-content-between p-3">
                   <div><p>Seat No : <span class="fs-6">{{Seats}}</span></p></div>
                   <div><span>Rs.{{Price[0].value}}</span></div>
                </li>
            </ul>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-white p-0 position-relative m-0">
            <div><button (click)="preview()" class="btn p-1 ps-2 pe-2">Preview Ticket</button></div>
            <div class=""><p>Total Price : <span>{{Price_Result}}</span></p></div>
        </div>
       </div>
    </div>
</div>
</div>
</div>