/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.btn{
    background-color: #400352e8;
    color: white;
}
.btn:hover{
    color: white;
    font-weight: 500;
    background-color: rgba(119, 2, 154, 0.946);
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

p{
    line-height: 25px;
    color: #400352e8;
    font-weight: 500;
}
span{
    color: rgb(101, 101, 101);
}